html {
  margin: 0;
  padding: 0;
  border: 0;
}

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

blockquote, q {
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body {
  font: 16px/24px Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

h2 {
  font-size: 42px;
  line-height: 48px;
}

h3 {
  font-size: 26px;
  line-height: 36px;
}

h1, h2 {
  font-family: "calluna-1", "calluna-2", serif;
}

/* Less Framework 3
 * by Joni Korpi
 * http://lessframework.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {
  border: 0;
}

figure {
  position: relative;
}

figure img {
  width: 100%;
}

/* Default 8-column layout
 * For tablets at 768 px, netbooks, and old browsers. */
body {
  width: 648px;
  padding: 84px 60px 0;
}
body #main {
  width: 480px;
  margin-right: 24px;
}
body #navigation {
  width: 144px;
}

/* 11-column layout
 * 984 px layout for those wanting something close to 960 px */
@media only screen and (max-width: 1211px) and (min-width: 984px) {
  body {
    width: 900px;
    padding: 66px 42px 0;
  }
  body #main, body #navigation {
    float: left;
  }
  body #main {
    width: 648px;
    margin-right: 24px;
  }
  body #navigation {
    width: 228px;
  }
}
/* 5-column layout
 * For 480 px mobiles, narrow browsers, and landscape iPhones. */
@media only screen and (max-width: 767px) and (min-width: 480px) {
  body {
    width: 396px;
    padding: 60px 42px 0;
    -webkit-text-size-adjust: 100%;
  }
}
/* 3-column layout
 * For all iPhones, iPod Touches, and other 320 px mobiles. */
@media only screen and (max-width: 479px) {
  body {
    width: 228px;
    padding: 48px 46px 0;
    -webkit-text-size-adjust: 100%;
  }
}
/* Overrides for iPhone 4
 * and other high device-pixel-ratio devices */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body a {
  text-decoration: underline;
  color: #0066cc;
}
body a:visited {
  color: #004c99;
}
body a:focus {
  color: #0099ff;
}
body a:hover {
  color: #0099ff;
}
body a:active {
  color: #bf00ff;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong, body dfn {
  font-weight: bold;
}
body em, body dfn {
  font-style: italic;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: #eeeeee;
}
body .quiet {
  color: #666666;
}
body .loud {
  color: #111111;
}
body .clear {
  clear: both;
}
body .nowrap {
  white-space: nowrap;
}
body .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body .first {
  margin-left: 0;
  padding-left: 0;
}
body .last {
  margin-right: 0;
  padding-right: 0;
}
body .top {
  margin-top: 0;
  padding-top: 0;
}
body .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body .showgrid {
  background: url('/images/grid.png?1295546166');
}
body .feedback, body .error, body .alert, body .notice, body .success, body .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
body .error, body .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body .error a, body .alert a {
  color: #8a1f11;
}
body .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body .notice a {
  color: #514721;
}
body .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body .success a {
  color: #264409;
}
body .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
body .info a {
  color: #205791;
}
body .hide {
  display: none;
}
body .highlight {
  background: yellow;
}
body .added {
  background: #006600;
  color: white;
}
body .removed {
  background: #990000;
  color: white;
}
